<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="entrata">
        <classes>
            <class name="entrata.ValidateFormFieldsOfWatchDemoIT">
                <methods>
                    <include name="validateAllTheFieldsOfWatchDemoSection"/>
                </methods>
            </class>
            <class name="entrata.ValidatePropertyManagementSectionLinksOfProductsTabIT">
                <methods>
                    <include name="validateAllLinksOfPropertyManagementSectionOfTheProductsTab"/>
                </methods>
            </class>
            <class name="entrata.VerifyAvailableResourcesOfResourcesTabIT">
                <methods>
                    <include name="verifyAllResourcesOfResourcesTab"/>
                </methods>
            </class>
            <class name="entrata.VerifyListsOfFeaturesOfResidentPortalIT">
                <methods>
                    <include name="verifyFeaturesListOfResidentPortal"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>